.main {
  width: 1280px;
  box-sizing: border-box;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 40px 20px;
}

.columns {
  width: 100%;
  display: flex;
  gap: 56px;
}

.leftColumn {
  width: 608px;
}

.orders {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-y: scroll;
  max-height: 868px;
}

.orders::-webkit-scrollbar {
  width: 8px;
}

.orders::-webkit-scrollbar-track {
  background: #2F2F37;
}

.orders::-webkit-scrollbar-thumb {
  background: #8585AD;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.orderStatus {
  width: 100%;
  display: flex;
  gap: 40px;
}

.doneStatus {
  width: 272px;
  height: 155px;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #00cccc;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;
}

.pendingStatus {
  width: 272px;
  height: 155px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;
}

.glow {
  text-shadow: 0 0 25px rgba(77, 77, 255, .6);
}
